@model UserViewModel

<h1>User Details Page</h1>

<br />
<br />

<partial name="PartialViews/_FormUserPartial" model="Model"></partial>

<a class="btn btn-warning" asp-controller="User" asp-action="Update" asp-route-id="@Model.Id">Edit</a>
<a class="btn btn-light" asp-controller="User" asp-action="Index">Back To List</a>