@model Employee

<h1>Delete Employee Page</h1>

<br />
<br />

<partial name="PartialViews/_FormEmployeePartial" model="Model"></partial>

<a class="btn btn-danger" asp-controller="Employee" asp-action="SaveDelete" asp-route-id="@Model.EmployeeId">Delete</a>
<a class="btn btn-light" asp-controller="Employee" asp-action="Index">Back To List</a>