@model Department

@{
    ViewData["Title"] = "Department";
}

<h1>Create Department Page</h1>

<br />
<br />

<form asp-controller="Department" asp-action="Create">
    <div class="form-group">
        <label asp-for="Code"></label>
        <input asp-for="Code" class="form-control">
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control">
    </div>
    <br />
    <div class="form-group">
        <label asp-for="DateOfCreation"></label>
        <input asp-for="DateOfCreation" class="form-control">
    </div>
    <br />
    <input class="btn btn-primary" type="submit" value="Create" />
    <a class="btn btn-light" asp-controller="Department" asp-action="Index">Back To List</a>
</form>