@model Department

<!--Inject Service To The View-->
@inject IDepartmentRepository DepartmentRepository

@{
    ViewData["Title"] = "Department";
}

<h1>Delete Department Page</h1>

<br />
<br />

<div class="form-group">
    <label asp-for="Code"></label>
    <input asp-for="Code" readonly class="form-control">
</div>

<br />

<div class="form-group">
    <label asp-for="Name"></label>
    <input asp-for="Name" readonly class="form-control">
</div>

<br />

<div class="form-group">
    <label asp-for="DateOfCreation"></label>
    <input asp-for="DateOfCreation" readonly class="form-control">
</div>

<br />

<a class="btn btn-danger" asp-controller="Department" asp-action="SaveDelete" asp-route-id="@Model.DepartmentId">Delete</a>
<a class="btn btn-light" asp-controller="Department" asp-action="Index">Back To List</a>