@model RoleViewModel



<div class="form-group">
    <label asp-for="Id"></label>
    <input readonly asp-for="Id" class="form-control">
</div>

<br />

<div class="form-group">
    <label asp-for="Name"></label>
    <input readonly asp-for="Name" class="form-control">
</div>

<br />

