@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h3 class="text-center">Reset Password</h3>
            <div class="text-danger" asp-validation-summary="All"></div>
            <form asp-controller="Account" asp-action="ResetPassword">
                <div class="mb-3">
                    <label class="form-label" asp-for="NewPassword"></label>
                    <input class="form-control" placeholder="Enter your New Password" asp-for="NewPassword">
                    <span class="text-danger" asp-validation-for="NewPassword"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="ConfirmedPassword"></label>
                    <input class="form-control" placeholder="Confirmed Password" asp-for="ConfirmedPassword">
                    <span class="text-danger" asp-validation-for="ConfirmedPassword"></span>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--To Make A Client Side Validation-->
@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
