@model RoleViewModel

<h1>Delete Role Page</h1>

<br />
<br />

<partial name="PartialViews/_FormRolePartial" model="Model"></partial>

<a class="btn btn-danger" asp-controller="Role" asp-action="SaveDelete" asp-route-id="@Model.Id">Delete</a>
<a class="btn btn-light" asp-controller="Role" asp-action="Index">Back To List</a>